@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root{
  --header-height: 3rem;

  --hue: 174;
  --sat: 63%;

  --clr-main: hsl(var(--hue), var(--sat), 40%);
  --clr-main-alt: hsl(var(--hue), var(--sat), 36%);
  --clr-title: hsl(var(--hue), 12%, 15%);
  --clr-text: hsl(var(--hue), 8%, 35%);
  --clr-container: hsl(var(--hue), 100%, 99%);
  --clr-body: #fff;

  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --font-size: .80rem;
  --font-size-tiny: .625rem;

  --z-tooltip: 10
  --z-fixed: 100
}

@media screen and (min-width: 968px) {
  :root{
  --h1-font-size: 2.25rem;
  --normal-font-size: 1rem;
  }
}

/* Base */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}


body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--font-size);
  background-color: var(--clr-body);
  color: var(--clr-text);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  margin-left: 2rem;
  margin-right: 2rem;
}